---
const { url, title, description, image, deployurl, tags } = Astro.props;
const { slug } = Astro.params;

---

<article class="flex flex-col items-center justify-start w-full  bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
    
    <div class="flex items-center justify-center w-full min-h-48 bg-gray-200 rounded-t-lg">
        <img src={image} alt={title} class="object-cover w-full h-full rounded-t-lg" loading="lazy" />
    </div>
    <div class="p-4">
        <div>
            <h2>{title}</h2>
            <p>{description}</p>
            <div>
                <ul class="flex flex-wrap gap-2 mt-2">
                    {Astro.props.tags.map((tag:string) => (
                        <li class="px-2 py-1 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full dark:bg-gray-700 dark:text-gray-300">{tag}</li>
                    ))}
                </ul>
            </div>
        </div>
        <div>
        <a href={url}>Github</a>
            { deployurl && <a href={deployurl}>Web</a>}
        </div>
    </div>
    
    
</article>