---
import Layout from "@layouts/Layout.astro"
import { Github, Globe } from "@lucide/astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((project) => ({
        params: { id: project.slug },
        props: { project },
    }));
}

const {project} = Astro.props;
const { data, slug } = project;
const { title, description, image, url, deployurl, tags } = data;
---

<Layout>
    <div class="flex flex-col items-center justify-center w-full max-w-6xl mx-auto px-4 py-20 space-y-4">
        <h2 class="title">{title}</h2>
        <div class="flex items-center justify-center gap-4 text-accent dark:text-info">
            <a class="flex btn-primary dark:bg-info dark:text-dark" href={url}> <Github/> Github</a>
            { deployurl && 
            <a class="flex justify-center items-center btn-secondary dark:border-info dark:text-info" href={deployurl}>
                <Globe/>
                Web</a>}
        </div>

    </div>
    <a href="/" class="btn-secondary my-20"> back </a>
    <img src={image} alt={title} transition:name={`img-${slug}`} class=" rounded-t-lg" loading="lazy" />
</Layout>